.main-app {
  width: 100%;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  height: 100vh;
  overflow: scroll;
}

.header-img {
  width: 100%;
  border: 1px solid #ffde06;
}

.cards-container {
  padding-top: 15px;
  background-color: black;
  border: 1px solid #ffde06;
}
